<!-- newuser.ejs -->
<html>
<head>
    <title>Password Change Reminder</title>
</head>
    <p>
        <%= name %>,
        <br />
        <br />
    
        You recently changed the password associated with your Patak account (<%= username %>).
        <br />
        <br />
        If you did not make this change and believe your Patak account has been compromised, please contact Patak support by clicking <a href="<%= compromisedURL %>">here</a>.
        <br />
        <br />
        Thank you,
        <br />  
        <br />
        <a href="<%= supportURL %>">The Patak Support Team</a> 
        <br />
        <br />
        If you received this message in error and did not signup for a Patak account, click <a href="<%= notMyAccountURL %>">not my account.</a>
    </p>
<body>
</body>
</html>
