extends ../layouts/default

block head
  title Change your password
block neck
    link(rel='stylesheet', href='/css/contact.css') 
    link(rel='stylesheet', href='/css/signup.css') 

block feet

block content
  // div(ng-controller="ResetPasswordFormController", ng-init="init('randy@x.com','http:local:3000/verify')") 
  // use jade #{variable} to interpolate string then add '' to pass it as a 
  div(ng-controller="ForgotPasswordFormController", ng-init="init('#{user.email}','#{token}')") 
    div.row
      div.col-sm-6
        div.page-header
          h1 Change password for
          h3= user.email
          // h3= #{{email}}
          // h3= confirmNewUserURL
         
        .container
          form(name="form", novalidate)
             
            div.form-group
              label.control-label(for="password") Enter new password:
              input.form-control(type="password", class="pass1", name="password", id="password", ng-model="forgot.password", password-validate, required, match="forgot.verification", placeholder="Enter password", style="width: 70%;")
              span.help-block(ng-show="form.password.$dirty && form.password.$error.required") Please enter a password
              span.help-block(ng-show="form.password.$dirty && form.password.$error.pwd") Invalid Password. Length must be > 8 characters and have a letter and number
              input.form-control(type="text",  name="strength", id="strength", value="weak", disabled, style="width: 25%;")
            div.form-group
              label.control-label(for="verify", class="verify") Verify Password:
              input.form-control(type="password", class="verification", name="verification", id="verification", ng-model="forgot.verification", required, match="forgot.password", placeholder="Verify password", style="width: 70%;")
              span.help-block(ng-show="form.verification.$dirty && form.verification.$error.required") Please repeat your password
              span.help-block(ng-show="form.verification.$dirty && form.verification.$error.match && !form.verification.$error.required") Passwords don't match
            if error
              div.alert #{error}
            input.btn.btn-primary(type = 'submit', value="Change Password", ng-disabled="form.$invalid", ng-click="forgotPassword()")
            | 
            a.btn.btn-link(href='/login') Back to Login
            input(type='hidden', name='returnUrl', value=returnUrl)
  
  script(type='text/javascript', src='/js/check-password.js')
            


